[Unit]
Description=Cloudflare Tunnel Service
After=network-online.target
Wants=network-online.target

[Container]
Image={{ cloudflared_image }}
ContainerName=cloudflared
AutoUpdate=registry
LogDriver=journald
EnvironmentFile={{ cloudflared_config_dir }}/cloudflared.env
Exec=tunnel run
NoNewPrivileges=true
ReadOnly=true

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target