[Unit]
Description={{ cloudflared_service_description }}
After=network-online.target
Wants=network-online.target

[Container]
Image={{ cloudflared_image }}
ContainerName={{ cloudflared_app_name }}
AutoUpdate=registry
LogDriver=journald
EnvironmentFile=%h/.config/{{ cloudflared_app_name }}/cloudflared.env
Exec=tunnel run
NoNewPrivileges=true
ReadOnly=true

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target