scrape_configs:
{% for config in victoria_metrics_scrape_configs %}
  - job_name: {{ config.job_name }}
{% if config.static_configs is defined %}
    static_configs:
{% for static_config in config.static_configs %}
      - targets:
{% for target in static_config.targets %}
        - {{ target }}
{% endfor %}
{% endfor %}
{% endif %}
{% if config.relabel_configs is defined %}
    relabel_configs:
{% for relabel in config.relabel_configs %}
      - source_labels: [{{ relabel.source_labels | join(', ') }}]
{% if relabel.regex is defined %}
        regex: '{{ relabel.regex }}'
{% endif %}
{% if relabel.target_label is defined %}
        target_label: {{ relabel.target_label }}
{% endif %}
{% if relabel.replacement is defined %}
        replacement: '{{ relabel.replacement }}'
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}