[Unit]
Description=Cloudflare Tunnel
After=network-online.target
Wants=network-online.target
Requires=network-online.target

[Container]
Image={{ cloudflared_image }}
Exec=tunnel run
EnvironmentFile={{ cloudflared_config_dir }}/cloudflared.env
Network=bridge
AutoUpdate=registry
LogDriver=journald
UserNS=auto

# Write the container ID to a file for process tracking and management
PodmanArgs=--cidfile=/var/lib/{{ cloudflared_user }}/cloudflared.cid

# Security options
#ReadOnly=true
#NoNewPrivileges=true
#DropCapability=all
#AddCapability=CAP_NET_RAW CAP_NET_ADMIN

[Service]
User={{ cloudflared_user }}
Group={{ cloudflared_user }}
Restart=always

# Security options
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target