[Unit]
Description={{ victoria_metrics_service_description }}

[Container]
Image={{ victoria_metrics_container_image }}
ContainerName={{ victoria_metrics_container_name }}
Network={{ victoria_metrics_network_name }}
AutoUpdate=registry
LogDriver=journald
UserNS=keep-id
NoNewPrivileges=true
PublishPort={{ victoria_metrics_container_port }}:{{ victoria_metrics_container_port }}
Volume={{ victoria_metrics_config_file }}:/etc/prometheus.yml:z
Volume={{ victoria_metrics_data_dir }}:/victoria-metrics-data:Z
Volume=/etc/localtime:/etc/localtime:ro,z
Exec='-promscrape.config=/etc/prometheus.yml'

[Service]
Restart={{ victoria_metrics_service_restart }}
RestartSec={{ victoria_metrics_service_restart_sec }}

[Install]
WantedBy=default.target