apiVersion: 1
datasources:
  - name: {{ item.name }}
    type: {{ item.type }}
    access: {{ item.access }}
    url: {{ item.url }}
{% if item.isDefault is defined %}
    isDefault: {{ item.isDefault | lower }}
{% endif %}