[Unit]
Description={{ grafana_service_description }}
Wants=victoria-metrics.service
Wants=loki.service
After=victoria-metrics.service
After=loki.service

[Container]
Image={{ grafana_container_image }}
ContainerName={{ grafana_container_name }}
Network={{ grafana_network_name }}
EnvironmentFile={{ grafana_env_file }}
AutoUpdate=registry
LogDriver=journald
UserNS=keep-id
NoNewPrivileges=true
PublishPort={{ grafana_container_port }}:{{ grafana_container_port }}
Volume={{ grafana_data_dir }}:/var/lib/grafana:Z
Volume={{ grafana_datasources_dir }}:/etc/grafana/provisioning/datasources:z
Volume=/etc/localtime:/etc/localtime:ro,z

[Service]
Restart={{ grafana_service_restart }}
RestartSec={{ grafana_service_restart_sec }}

[Install]
WantedBy=default.target