[Unit]
Description=Cloudflare Tunnel
After=network-online.target
Wants=network-online.target

[Container]
Image={{ cloudflared_image }}
ContainerName={{ cloudflared_container_name }}
AutoUpdate=registry
LogDriver=journald
EnvironmentFile={{ cloudflared_env_file }}

PodmanArgs=--cgroup-manager=cgroupfs

# Security options
SecurityLabelDisable=false

# Volume mount with SELinux relabeling
Volume={{ cloudflared_env_file }}:{{ cloudflared_env_file }}:ro,z

Exec=tunnel run

[Service]
User={{ cloudflared_container_user }}
Group={{ cloudflared_container_group }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target