[Unit]
Description={{ loki_service_description }}
After=network-online.target
Wants=network-online.target

[Container]
Image={{ loki_container_image }}
ContainerName={{ loki_container_name }}
AutoUpdate=registry
LogDriver=journald
Network={{ loki_network_name }}
UserNS=keep-id
Exec='-config.file=/loki.yaml'
NoNewPrivileges=true
ReadOnly=true
PublishPort={{ loki_container_port }}:{{ loki_container_port }}
Volume={{ loki_config_dir }}/loki.yaml:/loki.yaml:z
Volume={{ loki_data_dir }}:/loki:Z
Volume=/etc/localtime:/etc/localtime:ro,z

[Service]
Restart={{ loki_service_restart }}
RestartSec={{ loki_service_restart_sec }}

[Install]
WantedBy=default.target